<%= @user.email%>
<div class="gram-grid gram-grid-blog wrapper">
    <% @grams.each do |gram|%>
        <div>
            <a href="">
                <img src="<%= gram.image_url%>" alt="">
                <div class="title">
                    <span><%= gram.post_title %></span>
                </div>
            </a>
        </div>
    <% end %>
</div>
