<div class="profile-sidebar">
    <h2>Account Settings</h2>
    <ul>
        <li data-tab="profile-info" class="active"><%= image_tag 'icons/user-small-icon.svg'%><span>Edit Profile</span></li>
        <li data-tab="profile-password"><%= image_tag 'icons/lock-icon.svg'%><span>Password</span></li>
    </ul>
</div>