@import 'variables'
@import 'base'

.button
	:background $fiord
	:color $concrete
	:border-radius 3px
	@extend .type-ui-sm
	:padding 10px 20px
	:border none
	&--with-icon
		:display inline-flex
		img 
			:margin-right 10px
a.button 
	:text-decoration none

.link
	:color $fiord
	@extend .type-ui-sm
	:text-decoration none

.link + .button
	:margin-left 24px

.button--group
	:display flex
	:align-items center
	:justify-content flex-end
	:margin-top 56px		

.modal
	:max-width 586px
	:width 96%
	:box-shadow 0 0 44px rgba(65,76,102,0.14)
	:background $white
	:padding 40px 80px 56px
	h2 
		@extend .type-site-md
		:text-align center
		:margin 0 0 56px
.modal-large
	@extend .modal
	:max-width 1175px
	:margin 48px 0
	h2 
		@extend .type-site-xs
		:margin-bottom 40px



// NAVIGATION

.nav-main
	:background $fiord
	:color $concrete
	:padding 26px 0
	@extend .type-ui-sm
	a 
		:color $concrete
		:text-decoration none
	&--title 
		:font-size 2.1rem
	.wrapper 
		:display flex
		:align-items center 
		:justify-content space-between		


// DASHBOARD
.dashboard
	&--empty 
		:text-align center
		h2 
			@extend .type-site-xxl
			:margin 160px 0 16px
		p 
			@extend .type-site-xs	
			:margin 0 0 48px
	&--gram-list		
		:margin 0
		:padding 0
		li  
			:display flex
			:padding 24px 0
			:align-items center
			:justify-content space-between
			>span
				:background lightcyan
				&:nth-of-type(1)
					:width 80px
				&:nth-of-type(2)
					:flex-basis 350px	
				&.actions 
					:flex-basis 420px
					:display flex
					:justify-content center 
					span 
						:margin-right 24px 
						&:last-of-type
							:margin-right 0	
				&:nth-of-type(4)
					:flex-basis 200px							



// CREATE POST

.gram-grid 
	:display flex
	:flex-wrap wrap 
	:justify-content space-between
	>div 
		:width calc((100% - (24px * 4))/ 5) 
		:height calc((100% - (24px * 4))/ 5) 
		:flex-basis 180px
		:background white 
		:display flex 
		:align-items center 
		:justify-content center
		// :margin-right 24px
		:margin-bottom 24px
		:border 1px solid $concrete
		img 
			:max-height 100%			