@import 'variables'
@import 'base'

@mixin button($bg, $color, $p-top, $p-sides)
	:border-radius 3px
	:border none
	:background $bg
	:color $color
	@extend .type-ui-sm
	:padding $p-top $p-sides	

.button
	+button($fiord, $concrete,10px, 20px)
	&--with-icon
		:display inline-flex
		img 
			:margin-right 10px		
	&--radio 
		label 
			+button($solitude, $fiord, 18px, 24px)	
			:display flex 
			:align-items center
			span 
				:margin-left 16px
			img 
				:width 28px	
		label + input[type=radio]
			:position absolute
			:height 1px 
			:width 1px
			:visibility hidden	
.button--radio + .button--radio
	:margin-left 56px

		
						
a.button 
	:text-decoration none

.link
	:color $fiord
	@extend .type-ui-sm
	:text-decoration none

.link + .button
	:margin-left 24px

.button--group
	:display flex
	:align-items center
	:justify-content flex-end
	:margin-top 56px		

.modal
	:max-width 586px
	:width 96%
	:box-shadow 0 0 44px rgba(65,76,102,0.14)
	:background $white
	:padding 40px 80px 56px
	h2 
		@extend .type-site-md
		:text-align center
		:margin 0 0 56px
.modal-large
	@extend .modal
	:max-width 1175px
	:margin 48px 0
	h2 
		@extend .type-site-xs
		:margin-bottom 40px



// FORMS 
.label--small
	@extend .type-ui-xs	
	:color $regent	
.form-element
	label 
		@extend .type-site-sm
	label + p 
		@extend .label--small
		:margin -8px 0 16px 0

// NAVIGATION

.nav-main
	:background $fiord
	:color $concrete
	:padding 10px 0
	@extend .type-ui-sm
	a 
		:color $concrete
		:text-decoration none
	&--title 
		:font-size 2.1rem
	&--links 
		ul 
			:margin 0
			:padding 0
			:list-style none
		a:hover 
			:color white	
		.nav-parent:hover .sub-nav 
			:display block									
		>ul
			:display flex
			:align-items center
			>li  
				:position relative
				>a 
					:padding 10px 
					:display flex 
					:align-items center
					span 
						:display inline-block
						:margin-right 8px
			.sub-nav 
				:position absolute
				:background $fiord	
				:padding 0 24px 	
				:top 100%
				:width 100%
				:left 0
				:z-index 10
				:min-width 180px
				:display none
				a  
					:padding 16px 0
					:display block 
					:border-bottom 1px solid $concrete
				li:last-of-type
					a
						:border-bottom none
		a 
			@extend .type-ui-sm	
	.wrapper 
		:display flex
		:align-items center 
		:justify-content space-between		


// DASHBOARD
.dashboard
	&--empty 
		:text-align center
		h2 
			@extend .type-site-xxl
			:margin 160px 0 16px
		p 
			@extend .type-site-xs	
			:margin 0 0 48px
	&--gram-list		
		:margin 0
		:padding 0
		li  
			:display flex
			:padding 24px 0
			:align-items center
			:justify-content space-between
			:border-bottom 1px solid $concrete
			&:last-of-type
				:border-bottom none
			>span
				&:nth-of-type(1)
					:width 80px
				&:nth-of-type(2)
					:flex-basis 350px
					@extend .type-ui-xs	
				&.actions 
					:flex-basis 420px
					:display flex
					:justify-content center 
					span 
						:margin-right 24px 
						&:last-of-type
							:margin-right 0	
				&:nth-of-type(4)
					:flex-basis 200px
		&-actions 
			:display flex 
			:justify-content space-between
			:margin 48px 0
			form 
				:display flex
			form >div 
				:display flex
				:align-items center
				:margin-right 14px 
				&:last-of-type 
					:margin-right 0
				label 
					@extend .type-ui-xs	
					:margin 0
					:color $regent
					:margin-right 8px
					
			select 
				:background $solitude
				:border none
				:border-radius 0
				:-webkit-appearance none
				:appearance none
				:color $fiord
				@extend .type-ui-xs	
				:padding 7px
				:min-width 135px

		.actions 	
			a  
				:text-decoration none
				:color $regent
				@extend .type-ui-xs				
		.publishing 
			:display flex
			:justify-content flex-end 
			:color $regent
			:align-items center
			span 
				:margin-left 12px	
				&:first-of-type
					@extend .type-ui-xs	
					:position relative
					:text-align right
					&:after 
						:content 'Published'
						:height 1px
						:overflow hidden
						:visibility hidden
						:color transparent 
						:display block

				&:last-of-type
					@extend .type-ui-xxs										



// CREATE POST

.gram-grid 
	:display flex
	:flex-wrap wrap 
	:justify-content space-between
	>div 
		:width calc((100% - (24px * 4))/ 5) 
		:flex-basis 180px
		:background white 
		:display flex 
		:align-items center 
		:justify-content center
		:margin-bottom 24px
		:position relative
		:overflow hidden
		&:after
			:content ''
			:display block
			:padding-bottom 100%
		// :padding-top calc((100% - (24px * 4))/ 5)
		img 
			// :max-height 100%
			// :object-fit cover
			:position absolute
			:top 50%
			:left 50%
			:transform translate(-50%, -50%)
			// :width 100%
.create-campaign
	>.wrapper--flex 
		>div:first-of-type 
			:flex-basis 336px
		>div:last-of-type
			:flex-grow 1
			:padding 20px 0 20px 80px	
			
			