$white: #FFFFFF
$fiord: #414C66
$november: #65708A
$regent: #878FA1

$concrete: #D5D5DE
$solitude: #F0F0F5

$pale: #F7F7F7
$mid: #D8D8D8
$middark: #B3B3B3
$dark: #808080


$success: #C5E88E
$warning: #FFD678
$danger: #FF8978

$roboto: 'Roboto', sans-serif
$font-secondary: 'Lato', sans-serif