<div>
    <%= link_to edit_gram_path(gram) do %>
        <% if gram.stored_image.present? %>
            <%= image_tag  gram.stored_image.url %>
        <% else %>
            <img src="<%= gram.image_url%>" alt="">
        <% end %>
    <% end %>
</div>